.calculator {
  width: 800px;
  height: 500px;
  margin: 50px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  border-color: darkkhaki;
  box-sizing: border-box;
}
#input_nilai {
  width: 98%;
  margin-bottom: 10px;
  padding: 5px;
  height: 100px;
  font-size: 20px;
}
.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}
button {
  padding: 10px;
  font-size: 30px;
  border: none;
  height: 80px;
  border-radius: 5px;
  cursor: pointer;
  background-color: burlywood;
}
button:hover {
  background-color: cadetblue;
}
